*{
    padding: 0;
    margin: 0;
}
.content{
    margin-top: calc(25% - 270px/2);
    margin-left: calc(50% - 225px/2);

}
@font-face {
    font-family: DINPro;
    src: url("../fonts/DINPro.otf");
}
.button{
    height: 45px;
    width: 45px;
    background-color: #282828;
    border: 0;
    color: #FFFFFF;
    font-family: DINPro;
    font-size: medium;

}
#inputNumber{
    pointer-events:none;
    background-color: #4CAF50;
    color: #282828;
    border: 0;
    height: 35px;
    width: 270px;

    text-align: center;
    font-family: DINPro;
    font-size: 24px;
}
.number{
    color: #4CAF50;
    font-size: medium;
}
.button.equally{
    background-color: #4CAF50;
    color: #282828;

}
.git{
    color: #DBAB09;
}
/*#img{
    height: 45px;
    width: 45px;
    margin: 0;
    padding: 0;
}
a{
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;

}*/