@font-face {
    font-family: DINPro;
    src: url("../fonts/DINPro.otf");
}
.button{
    height: 45px;
    width: 45px;
    background-color: #282828;
    border: 0;
    color: #FFFFFF;
}
#inputNumber{
    pointer-events:none;
    background-color: #C8C9BD;
    color: #282828;
    border: 0;
    height: 35px;
    width: 225px;

    text-align: center;
    font-family: DINPro;
    font-size: 24px;
}

