.button{
    height: 45px;
    width: 45px;
    background-color: #282828;
    border: 0;
    color: #FFFFFF;
}
#inputNumber{
    pointer-events:none;
    background-color: #C8C9BD;
    color: #282828;
    border: 0;
    height: 35px;
    width: 180px;
}

